body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #4DA0B0, #D39D38);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    color: #fff;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
    color: #ffcd02; /* Golden yellow */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

#additional-use-cases {
    animation: slideDownAnimation 1s;
}

@keyframes slideDownAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#result-container {
    display: none;
    text-align: center;
    margin-top: 40px;
    animation: fadeInAnimation 1s;
}

#result-text {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#go-back-button,
#add-more-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#go-back-button:hover,
#add-more-button:hover {
    background-color: #0056b3;
}

.input-info {
    font-size: 12px;
    color: #777;
    margin-bottom: 10px;
}

#additional-use-cases {
    animation: slideDownAnimation 1s;
}

@keyframes slideDownAnimation {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Add the following styles for the list items */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s; /* Add transition for color */
}

/* Add hover effect for the list items */
li:hover {
    color: #ffcd02; /* Golden yellow */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#activity-list {
    display: none;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px;
    background-color: #fff;
}

#activity-list li {
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    transition: background-color 0.3s;
}

#activity-list li:hover {
    background-color: #f0f0f0;
}